name: Run Terraform Plan → Stage → Apply (GCP)

on:
  workflow_dispatch:

jobs:
  terraform:
    uses: LearnTechOps/Reusable-Templates/.github/workflows/terraform-gcp-template.yml@main
    with:
      terraform_dir: "./terraform"
      tfvars_file: "./envs/dev.tfvars"
      run_apply: true   # optional, triggers approval + apply
    secrets:
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      GCP_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
